@import "@fortawesome/fontawesome-free/css/all.min.css";

//variabili e mixins
$my_link: none;
$color_primary: #0282F9;
$color_secondary: #959595;

@mixin space-position {
    max-width: 1000px;
    margin: auto;
}

@mixin my-ul-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

@mixin d-flex {
    display: flex;
    flex-direction: row;
}

@mixin d-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-white {
    text-transform: uppercase;
    color: white;
}

@mixin pill {
    display: inline-block;

}

//general
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

//header
.upper-bar {
    font-size: small;
    background-color: $color_primary;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px 0;
    padding-right: 100px;
}

.img-logo {
    width: 100%;
}

.logo-container {
    width: 80px;
    padding: 10px 0;
}

.jumbotron {
    height: 290px;
    background-image: url('/public/images/jumbotron.jpg');
    background-size: cover;
}

#current-series {
    position: relative;
}

.btn-big {
    @include pill;
    @include text-white;
    background-color: $color_primary;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 18px;
    position: absolute;
    left: 175px;
    top: -20.5px;
    cursor: pointer;
}

header {
    @include d-flex;
    @include space-position;
    justify-content: space-between;
    max-width: 1150px;
}

.nav-link {
    @include my-ul-list;
    gap: 20px;

    li {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .active-link {
        border-bottom: 4px solid $color_primary;
        color: $color_primary;

        .link {
            color: $color_primary;
        }
    }

}

.caret-down {
    color: $color_primary;
    font-size: 15px;
    margin-left: 8px;
}

.link-list-item {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: $my_link;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: 600;

    &:visited {
        color: black;
    }
}

.input-group {
    display: flex;
    align-items: center;

    input {
        text-align: right;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px solid $color_primary;
        padding: 5px;
        outline: none;
    }

    button {
        border: none;
        border-bottom: 2px solid $color_primary;
        background-color: white;
        padding: 5px;
    }
}

//main
.card-container {
    @include space-position;
    @include d-flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

$a: 100%;
$b: 10px;

.card {
    flex-basis: calc((#{$a} / 6) - (#{$b}) * 2);
    margin: 0 10px;
    max-width: 146.667px;

    .desc {
        @include text-white;
        overflow-wrap: break-word;
        font-size: 14px;
        font-weight: 600;
        margin-top: 15px;
    }

    .img-container {
        height: 200px;
        position: relative;

        .overlay {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        &:hover {

            .overlay {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.5);
                @include text-white;
                font-weight: 600;

                span {

                    &:first-child {
                        font-size: 14px;
                        margin-bottom: 6px;
                    }

                    &:last-child {
                        font-size: 12px;
                    }
                }
            }
        }


        img {
            width: 100%;
            height: 100%;
        }
    }
}

main {
    background-color: #1C1C1C;
    padding: 65px 0 20px;
}

.title-link {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.row-btn {
    text-align: center;
}

.btn {
    @include pill;
    @include text-white;
    background-color: $color_primary;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 50px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none
}

div.my-section-blue {
    @include d-flex;
    justify-content: center;
    background-color: $color_primary;
    padding: 40px 0;
    gap: 35px;

    .my-icons-item {
        @include d-flex;
        align-items: center;
        gap: 8px;
    }

    .my-icon-desc {
        @include text-white;
        font-size: 14px;
    }

    .my-icon-container {
        width: 35px;

        img {
            width: 100%;
        }
    }
}



//footer

.wrapper {
    background-image: url("/public/images/footer-bg.jpg");
}

.bg-logo-img {
    position: absolute;
    height: 130%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#foot {
    background-color: #303030;
    padding: 20px 0;
}

.container-menu-footer {
    @include d-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-ul {
    @include d-flex-column;
}

.list-footer {
    list-style-type: none;
    padding: 0;
    margin: 18px 0;

    li {
        color: $color_secondary;
        font-size: small;
        padding: 3px;

        &:first-child {
            @include text-white;
            font-size: 18px;
            padding: 12px 3px;
        }
    }
}

.paragraph {
    flex-basis: 100%;
    font-size: small;
    color: $color_secondary;
    padding-bottom: 20px;
}

.par {
    color: $color_primary;
    cursor: pointer;
}

section {
    @include d-flex;
    @include space-position;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    max-width: 1100px;
}

.foot-container {
    @include space-position;
    @include d-flex;
    justify-content: space-between;
}

.icons {
    @include d-flex;
    align-items: center;
    gap: 15px;
}

.list-icon {
    @include my-ul-list;
    gap: 10px;

    li {
        width: 25px;
        cursor: pointer;
    }
}

.img-icon {
    width: 100%;
}

#follow {
    color: $color_primary;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-foot {
    @include pill;
    @include text-white;
    border: 2px solid $color_primary;
    padding: 10px;
    cursor: pointer;
}

#dark-gray-bar {
    background-color: #202020;
    height: 100px;
}

//comic 
.comic-blue {
    background-color: $color_primary;
    height: 80px;
    margin-bottom: 40px;
    position: relative;

    .show-img-container {
        width: 200px;
        position: absolute;
        left: 25%;
        bottom: 20px;
        border: 1px solid white;

        img {
            width: 100%;
        }

        .gallery {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            text-transform: uppercase;
            text-align: center;
            background-color: #00A9D9;
            color: white;
            padding: 3px;
            font-size: 14px;
        }

        #type {
            position: absolute;
            top: 0;
            left: 0;
            text-transform: uppercase;
            text-align: center;
            background-color: #00A9D9;
            color: white;
            padding: 3px;
            font-size: small;
        }
    }
}

.comic-wrapper {
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    gap: 20px;
}

.info {
    flex-basis: 60%;
    padding-top: 18px;

    p {
        font-size: 15px;
        color: rgb(124, 124, 124);
    }

    h2 {
        text-transform: uppercase;
        color: #003357;
        font-size: 22px;
        padding-bottom: 15px;
    }
}

.picture {
    flex-basis: 40%;

    img {
        width: 100%;
    }

    .adv {
        text-transform: uppercase;
        text-align: right;
        color: #695F6B;
        font-size: small;
    }
}

.green-container {
    background-color: #55BA59;
    display: flex;
    margin-bottom: 12px;

    .price {
        border: 1px solid #307634;
        flex-basis: 60%;
        display: flex;
        justify-content: space-between;
        padding: 15px;

        div {
            color: #BBFD9B;
            font-weight: 600;
        }

        .prezzo {
            color: white;
        }
    }

    .check {
        border: 1px solid #307634;
        flex-basis: 40%;
        text-align: center;
        color: white;
        font-weight: 600;
        padding: 15px 0;
    }
}

//form page

.form-insert {
    margin: 30px auto;
    padding: 15px;
    border: 1px solid black;
    width: 60%;

    label {
        width: 95px;
        display: inline-block;
    }

    .label-form {
        width: 80px;
    }

    #last-label {
        margin-left: calc(154px - 144.017px);
    }
}

.form-group {
    padding: 8px;
}


//buttons 
.buttons {
    display: flex;
    max-width: 900px;
    margin: auto;
    gap: 10px;

    .elimina {
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px;
        cursor: pointer;
    }

    .modifica {
        background-color: #f0ad4e;
        color: black;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        padding: 8px;
        border-radius: 5px;
        font-size: small;
    }


}

.indietro {
    background-color: white;
    color: blue;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: small;
    border: 1px solid blue;
}

//info component
.info-gray-div {
    background-color: #F6F6F6;
    border: 2px solid #E3E3E3;


    .talent {
        flex-basis: 60%;
    }

    .specs {
        flex-basis: 50%;
    }

    h2 {
        color: #003357;
        font-size: 22px;
        padding-bottom: 15px;
    }

    .my-info {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 2px solid #E3E3E3;

        &:first-child {
            border-top: 2px solid #E3E3E3;
        }

        .span-info {
            color: #023F5D;
        }
    }
}

.div-wrapper-info {
    display: flex;
    justify-content:center;
    background-color:lightgray;
    border-top: 1px solid gray;
    padding: 0;



    .my-icons-item {
        @include d-flex;
        align-items: center;
        gap: 8px;
        border: 1px solid gray;
        padding: 10px;
        border-bottom: none;
    }

    .my-icon-desc {
        @include text-white;
        font-size: 14px;
    }

    .my-icon-container {
        width: 35px;

        img {
            width: 100%;
        }
    }
}