@import "@fortawesome/fontawesome-free/css/all.min.css";

//variabili e mixins
$my_link: none;
$color_primary: #0282F9;
$color_secondary: #959595;

@mixin space-position {
    max-width: 1000px;
    margin: auto;
}

@mixin my-ul-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

@mixin d-flex {
    display: flex;
    flex-direction: row;
}

@mixin d-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-white {
    text-transform: uppercase;
    color: white;
}

@mixin pill {
    display: inline-block;

}

//general
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

//header
.upper-bar {
    font-size: small;
    background-color: $color_primary;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px 0;
    padding-right: 100px;
}

.img-logo {
    width: 100%;
}

.logo-container {
    width: 80px;
    padding: 10px 0;
}

.jumbotron {
    height: 290px;
    background-image: url('/public/images/jumbotron.jpg');
    background-size: cover;
}

#current-series {
    position: relative;
}

.btn-big {
    @include pill;
    @include text-white;
    background-color: $color_primary;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 18px;
    position: absolute;
    left: 175px;
    top: -20.5px;
    cursor: pointer;
}

header {
    @include d-flex;
    @include space-position;
    justify-content: space-between;
    max-width: 1150px;
}

.nav-link {
    @include my-ul-list;
    gap: 20px;

    li {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .active-link {
        border-bottom: 4px solid $color_primary;
        color: $color_primary;

        .link {
            color: $color_primary;
        }
    }

}

.caret-down {
    color: $color_primary;
    font-size: 15px;
    margin-left: 8px;
}

.link-list-item {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: $my_link;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: 600;

    &:visited {
        color: black;
    }
}

.input-group {
    display: flex;
    align-items: center;

    input {
        text-align: right;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px solid $color_primary;
        padding: 5px;
        outline: none;
    }

    button {
        border: none;
        border-bottom: 2px solid $color_primary;
        background-color: white;
        padding: 5px;
    }
}


//footer

.wrapper {
    background-image: url("/public/images/footer-bg.jpg");
}

.bg-logo-img {
    position: absolute;
    height: 130%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#foot {
    background-color: #303030;
    padding: 20px 0;
}

.container-menu-footer {
    @include d-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-ul {
    @include d-flex-column;
}

.list-footer {
    list-style-type: none;
    padding: 0;
    margin: 18px 0;

    li {
        color: $color_secondary;
        font-size: small;
        padding: 3px;

        &:first-child {
            @include text-white;
            font-size: 18px;
            padding: 12px 3px;
        }
    }
}

.paragraph {
    flex-basis: 100%;
    font-size: small;
    color: $color_secondary;
    padding-bottom: 20px;
}

.par {
    color: $color_primary;
    cursor: pointer;
}

section {
    @include d-flex;
    @include space-position;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    max-width: 1100px;
}

.foot-container {
    @include space-position;
    @include d-flex;
    justify-content: space-between;
}

.icons {
    @include d-flex;
    align-items: center;
    gap: 15px;
}

.list-icon {
    @include my-ul-list;
    gap: 10px;

    li {
        width: 25px;
        cursor: pointer;
    }
}

.img-icon {
    width: 100%;
}

#follow {
    color: $color_primary;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-foot {
    @include pill;
    @include text-white;
    border: 2px solid $color_primary;
    padding: 10px;
    cursor: pointer;
}

#dark-gray-bar {
    background-color: #202020;
    height: 100px;
}